.imageMobile {
  max-width: 4rem;
  display: flex;
}

.imageDesktop {
  display: none;
}

@media (min-width: 900px) {
  .imageMobile {
    display: none;
  }

  .imageDesktop {
    max-width: 4rem;
    display: flex;
  }
}
