body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--lightestgrey);
}

body.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

body.dark-mode .invert-on-dark {
  filter: invert(1);
}

:root {
  --pink: #ff008c;
  --lightpink: #ff008c80;
  --yellow: #ffca3a;
  --lightyellow: #ffca3ae2;
  --darkeryellow: #d1a630;
  --black: #000;
  --lighterblack: #1e1e1e;
  --darkgrey: #a9a9a9;
  --lightgrey: #ddd;
  --lightestgrey: #f0f0f0;
  --white: #fff;
}

button,
button.custom-button,
a.custom-button {
  pointer-events: auto;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  background: var(--black);
  border: none;
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 4px;
  text-transform: none;
  transition: background-color 0.2s ease;

  /* <button className="custom-button pink">Click Me</button>
  <a className="custom-button pink">Link</a> */

  button.pink,
  button.custom-button.pink,
  a.custom-button.pink {
    background-color: var(--pink);
  }
}

button.custom-button:hover,
a.custom-button:hover {
  background-color: var(--darkeryellow);
}
